/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/*Head Container*/
.head-container .bg-gradient {
  height: 1084px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%), url(../images/head-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.head-container .bg-gradient header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1300px) {
  .head-container .bg-gradient header {
    width: calc(100% - 80px);
  }
}
.head-container .bg-gradient header .logo {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 28px;
  color: #fff;
  letter-spacing: 0.01em;
  width: 78px;
}
.head-container .bg-gradient header .cart {
  width: 78px;
  text-align: right;
}
.head-container .bg-gradient header .menu ul {
  display: flex;
  width: 478px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .head-container .bg-gradient header .menu ul {
    width: 370px;
  }
}
@media only screen and (max-width: 625px) {
  .head-container .bg-gradient header .menu ul {
    display: none;
  }
}
.head-container .bg-gradient header .menu ul li a {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: 0.8s;
  text-decoration: none;
}
.head-container .bg-gradient header .menu ul li a:hover {
  color: #e58411;
}
.head-container .bg-gradient header .menu ul li a img {
  vertical-align: middle;
  margin-left: 8px;
}
.head-container .bg-gradient h1 {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  width: 861px;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 14px;
}
@media only screen and (max-width: 1024px) {
  .head-container .bg-gradient h1 {
    width: 80%;
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .head-container .bg-gradient h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 450px) {
  .head-container .bg-gradient h1 {
    font-size: 30px;
  }
}
.head-container .bg-gradient p {
  font-size: 24px;
  font-family: "Gilroy";
  line-height: 160%;
  color: #FFFFFF;
  width: 606px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
}
@media only screen and (max-width: 1024px) {
  .head-container .bg-gradient p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 606px) {
  .head-container .bg-gradient p {
    padding-top: 10px;
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  .head-container .bg-gradient p {
    font-size: 16px;
  }
}
.head-container .bg-gradient form {
  text-align: center;
  width: 344px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}
@media only screen and (max-width: 380px) {
  .head-container .bg-gradient form {
    width: 95%;
  }
}
.head-container .bg-gradient form input {
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding: 8px 8px 8px 20px;
  width: 344px;
  height: 56px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 380px) {
  .head-container .bg-gradient form input {
    width: 100%;
  }
}
.head-container .bg-gradient form button {
  position: absolute;
  border-radius: 24px;
  padding: 11px;
  background: #e58411;
  right: 8px;
  bottom: 8px;
  left: 296px;
  top: 8px;
  width: 40px;
}
@media only screen and (max-width: 380px) {
  .head-container .bg-gradient form button {
    left: auto;
  }
}
.head-container .bg-gradient .selected {
  margin-left: 169px;
}
@media only screen and (max-width: 768px) {
  .head-container .bg-gradient .selected {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .head-container .bg-gradient .selected {
    margin-top: 43px;
  }
}/*# sourceMappingURL=main.css.map */