/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/*Head Container*/

@mixin onlylarge($w)
{
    @media only screen and (max-width: $w)
    {
        @content;
    }
}

.head-container{
    .bg-gradient{
        height: 1084px;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%), 
        url(../images/head-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        header{
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @include onlylarge(1300px){width: calc(100% - 80px)}

            .logo{
                font-family: 'Gilroy';
                font-weight: bold;
                font-size: 28px;
                color: #fff;
                letter-spacing: 0.01em;
                width: 78px;
            }
            .cart{
                width: 78px;
                text-align: right;
            }
            .menu{
                ul{
                    display: flex;
                    width: 478px;
                    justify-content: space-between;
                    align-items: center;
                    
                    @include onlylarge(768px){width: 370px}
                    @include onlylarge(625px){display: none}

                    li{
                        a{
                            font-family: 'Gilroy';
                            font-weight: 500;
                            font-size: 18px;
                            color: #fff;
                            transition: 0.8s;
                            text-decoration: none;
                            &:hover{
                                color: #e58411;
                            }
                            img{
                                vertical-align: middle;
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }

        h1{
            font-family: 'Gilroy';
            font-weight: bold;
            font-size: 80px;
            line-height: 130%;
            letter-spacing: -0.01em;
            text-align: center;
            color: #fff;
            width: 861px;
            margin: 0 auto;
            margin-top: 92px;
            margin-bottom: 14px;

            @include onlylarge(1024px){width: 80%; font-size: 60px;}
            @include onlylarge(768px){font-size: 42px;}
            @include onlylarge(450px){font-size: 30px;}
        }

        p{
            font-size: 24px;
            font-family: 'Gilroy';
            line-height: 160%;
            color: #FFFFFF;
            width: 606px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 45px;
            
            @include onlylarge(1024px){font-size: 20px}
            @include onlylarge(606px){padding-top: 10px; width: 80%}
            @include onlylarge(450px){font-size: 16px}
        }

        form{
            text-align: center;
            width: 344px;
            margin: 0 auto;
            position: relative;
            margin-bottom: 25px;

            @include onlylarge(380px){width: 95%}
            input{
                border: 0.86px solid rgba(255, 255, 255, 0.6);
                border-radius: 42px;
                padding: 8px 8px 8px 20px;
                width: 344px;
                height: 56px;
                backdrop-filter: blur(8px);
                background: rgba(255, 255, 255, 0.15);
                font-family: 'Gilroy';
                font-size: 18px;
                line-height: 150%;
                color: rgb(255, 255, 255, 0.8);

                @include onlylarge(380px){width: 100%}
            }
            button{
                position: absolute;
                border-radius: 24px;
                padding: 11px;
                background: #e58411;
                right: 8px;
                bottom: 8px;
                left: 296px;
                top: 8px;
                width: 40px;

                @include onlylarge(380px){left: auto}
            }
        }

        .selected{
            margin-left: 169px;

            @include onlylarge(768px){margin-left: 70px;}
            @include onlylarge(600px){margin-top: 43px;}
        }
    }
}